//
// Labels (not the form kind)
//

.label,

.label-green {
  background-color: #04C08B;
}

.label-blue {
  background-color: #6795C2;
}

.label-red {
  background-color: #F04346;
}

.label-grey {
  background-color: #EAE7E9;
}

