//
// Labels (not the form kind)
//

.label,
.label-red    { background-color: #F04346; color: #fff; }
.label-blue   { background-color: #6795C2; color: #fff; }
.label-grey   { background-color: #EAE7E9; color: #2b303b; }
.label-orange { background-color: #FF7748; color: #fff; }
.label-green  { background-color: #04C08B; color: #fff; }

